# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Ignore everything in this directory
/.gradle
/.idea
/out
/data
/temp

# Except this file
#!.gitignore
#!.idea
#!/docs/
#!/gradle/
#!gradlew
#!gradlew.bat
#!bulid.gradle
#!libraries.gradle
#!settings.gradle
#!README.MD
#!LICENSE
#!CHANGELOG.md
#!.editorconfg

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
